extends layout

block content

  #ajaxNotification

  #inputContainer
  
    form#foodCategory
      ul#destList.noBullet
        li#destList
          span#homeIcon(class="fa fa-cutlery")
            i(class="fa fa-angle-right")
          input#destAddr(type="text",name="",placeholder="Looking for food? Let's start by entering a location!")
          label(for="query",style="display: none;",required) Query: 
          input#query(type="text",name="query",value="Food",style="display: none;")
          p#ajaxLoader Searching...
          button#submit Press enter to search

    div#fqWrap
      ul#fqResponse