body {
  font-family: 'Open Sans', Arial;
  font-weight: 300;
  background-color: #999;
}
body.loaded {
  background: #efefef;
  transition: all 0.5s;
}
a {
  text-decoration: none;
  color: #09c;
}
#ajaxNotification {
  background-color: #f00;
  color: #fff;
  padding: 10px;
  position: fixed;
  right: -10px;
  opacity: 0;
  z-index: 2000;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: default;
}
#ajaxNotification.loaded {
  right: 10px;
  opacity: 1;
  transition: all 0.5s;
}
#ajaxLoader {
  position: absolute;
  right: 150px;
  top: 17px;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
}
#ajaxLoader.loaded {
  opacity: 1;
  transition: all 0.5s;
}
.rating_1,
.rating_2,
.rating_3,
.rating_4,
.rating_5,
.rating_6,
.rating_7 {
  display: none;
}
#inputContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding-top: 20%;
  background: #00a8c6;
  background-position: -100px -100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: height 0.5s;
  transition: background-position 10s;
  transition: background-size 10s;
}
#inputContainer.submitted {
  height: 40px;
  top: 0px !important;
  padding-top: 0;
  transition: all 1s;
}
#homeIcon {
  font-size: 24px;
  padding: 0 10px;
  color: #fff;
  width: 50px;
}
#homeIcon .fa-angle-right {
  padding-left: 10px;
}
#inputContainer input[type=text] {
  font-size: 16px;
  padding: 10px;
  width: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}
#inputContainer input[type=text]::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
}
#submit {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
}
#submit.loaded {
  opacity: 1;
  transition: all 0.5s;
}
/* OUTPUT CONTAINER */
.fqResults_break {
  padding: 10px;
  position: relative;
  clear: both;
  font-size: 12px;
  color: #333;
  font-weight: 400;
}
.fqResults_break strong {
  font-weight: 600;
  text-transform: uppercase;
}
#outputContainer {
  padding-top: 41px;
  line-height: 22px;
  opacity: 0;
}
#outputContainer.loaded {
  opacity: 1;
  transition: all 0.5s;
}
.fqResult {
  width: 300px;
  height: 130px;
  margin: 0 1px 1px 0;
  float: left;
  padding: 10px;
  position: relative;
  background: #fff;
  line-height: 24px;
}
.fqResult h2 {
  font-weight: 600;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fqResult h2 .fa {
  color: #0072b1;
}
.fqResult .tierrating {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 10px;
}
.tier,
.rating {
  padding: 0 5px;
  background: #efefef;
}
.fa-star {
  color: #a8cb17;
}
.fqResult .phoneurl {
  font-size: 12px;
}
.fqResult .phone {
  color: #7faf1b;
  left: 10px;
  bottom: 5px;
  position: absolute;
}
.fqResult .url {
  color: #09c;
  right: 10px;
  bottom: 5px;
  position: absolute;
}
