#inputContainer.eveningStyle
	background-image url('/images/dinner_1.jpg')
	background-color #302A4E

#inputContainer.morningStyle
	background-image url('/images/breakfast_1.jpg')
	background-color #8ACECF

#inputContainer.eveningStyle
#inputContainer.morningStyle
	background-position: 0% 0%
	background-size 110%

#inputContainer.eveningStyle.submitted
#inputContainer.morningStyle.submitted
	background-position: 0% -1100px