#inputContainer.eveningStyle {
  background-color: #302a4e;
}
#inputContainer.morningStyle {
  background-color: #8acecf;
}
#inputContainer.eveningStyle,
#inputContainer.morningStyle {
  background-position: 0% 0%;
  background-size: 110%;
}
#inputContainer.eveningStyle.submitted,
#inputContainer.morningStyle.submitted {
  background-position: 0% -1100px;
}
